<div class="footerBox">
    <ul class="flex-wrap">
        <li>
            <div class="a">
                <div>
                    <img src="/images/findbox/sy2.png">
                </div>
                <p class="color-e">首页</p>
            </div>
        </li>
        <li>
            <div class="a">
                <div>
                    <img src="/images/findbox/xhz1.png">
                </div>
                <p>发现美</p>
            </div>
        </li>
        <li>
            <div class="a">
                <div>
                    <img src="/images/findbox/gmq1.png">
                </div>
                <p>闺蜜圈</p>
            </div>
        </li>
        <li>
            <div class="a">
                <div>
                    <img src="/images/findbox/dd1.png">
                </div>
                <p>订单</p>
            </div>
        </li>
        <li>
            <div class="a">
                <div>
                    <img src="/images/findbox/w1.png">
                </div>
                <p>我的</p>
            </div>
        </li>
    </ul>
</div>
