<ul>
    <li class="g-listBox a-box">
        <p> <i class="sjx">▶</i>寻宝</p>
        <ul class="y-box">
            <li>
                <a href="/Box">寻宝管理</a>
            </li>
            <li>
                <a href="/Box/Add">宝箱设置</a>
            </li>
        </ul>
    </li>
    <li class="g-listBox a-sign">
        <p> <i class="sjx">▶</i>签到</p>
        <ul class="y-box">
            <li>
                <a href="/Sign">签到管理</a>
            </li>
            <li>
                <a href="/Sign/Add">签到设置</a>
            </li>
        </ul>
    </li>
    <li class="g-listBox a-ladder">
        <p> <i class="sjx">▶</i>砍价团管理</p>
        <ul class="y-box">
            <li>
                <a href="/LadderGroup/Add">创建砍价团</a>
            </li>
            <li>
                <a href="/LadderGroup">砍价团管理</a>
            </li>
        </ul>
    </li>
</ul>