
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家管理</title>
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <style type="text/css">
        .Lorelei-commonTable table tr:not(:nth-child(1)) td:nth-child(7) a {
            color: #68aef6;
        }

        .Lorelei-commonTable table tr:not(:nth-child(1)) td:nth-child(8) {
            color: #e61c64;
        }

            .Lorelei-commonTable table tr:not(:nth-child(1)) td:nth-child(8).noPass {
                color: #666;
            }

            .Lorelei-commonTable table tr:not(:nth-child(1)) td:nth-child(8).Passed {
                color: #90c16d;
            }

        .Lorelei-commonTable table tr:not(:nth-child(1)) td:last-child a:nth-child(1) {
            padding: 3px 5px;
            background: #e61c64;
            color: #fff;
            border-radius: 3px;
        }

        .Lorelei-commonTable table tr:not(:nth-child(1)) td:last-child a:nth-child(2) {
            color: #91c36f;
        }

        .red {
            color: #F00;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/backyard/mercheck/mercheck_paging.js"></script>
</head>
<body>
    <!--header-->

    @Html.Partial("Backyard/Header/_HeaderPartial");


    <!--mian-->
    <div class="Lorelei-table-box">
        <div id="list_table" class="Lorelei-table-box-c mgc">
            @Html.Action("GetList", new { pageIndex = 1, q = "" })
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <div class="footer-c mgc">
            <p>美美哒科技 版权所有 / 鄂 ICP 备 16005905号-1</p>
        </div>
    </div>

</body>
</html>
