
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>开团</title>
</head>
<body>
<div>
    <ul>
        <li>appid:@ViewBag.appid</li>
        <li>id:@ViewBag.id</li>
        <li>code:@ViewBag.code</li>
        <li>state:@ViewBag.state</li>
        <li>openid:@ViewBag.openid</li>
        <li>sex:@ViewBag.sex</li>
        <li>head:@ViewBag.head</li>
        <li>nickname:@ViewBag.nickname</li>
        <li>pri:@ViewBag.pri</li>
        <li>appid:@ViewBag.expire</li>
    </ul>
</div>
</body>
</html>
