<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/Content/css/xuanc.css">
	<title>行业案例</title>
</head>
<body>
	<!--header-->
	<div class="xcheader">
		<div class="xcheader-c mgc clearfix">
			<div class="xcheader-logo fl ft12"><img src="/Content/images/logo.jpg"></div>
			<ul class="xcheaderMainnav fl clearfix">
				<li>@Html.ActionLink("首页", "Index")</li>
				<li>@Html.ActionLink("拼团玩法", "intro")</li>
				@*<li>@Html.ActionLink("行业案例", "examples", null, new { @class = "cur" })</li>*@
				<li>@Html.ActionLink("关于我们", "about")</li>
			</ul>
			<div class="xcheader-login fr ft12">
				<a class="kait" href=@ViewBag.url>申请开通</a>
				<a class="denl mgl5" href=@ViewBag.url>登陆</a>
			</div>
		</div>
	</div>
	
	<div class="xcMaps">
		<div class="xcMaps-c mgc">
			<p class="xcMap-nums">申请开通MM拼团门店数<span class="red mgl9">99999</span></p>
			<img src="/Content/images/xcmap.jpg">
		</div>
	</div>

	<div class="xcRollingwordBox">
	<div class="xcRollingword mgc">
		<div class="xcRollingword-c roster">
			<div class="xcRollingwordEach clearfix"><p class="fl">2016/5/20<span>胡萝卜怎么切请胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团开通MM拼团</span></p><p class="fr">2016/5/20<span>我的时尚女友申请开通MM拼团1卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团开通MM拼团</span></p></div>
			<div class="xcRollingwordEach clearfix"><p class="fl">2016/5/20<span>张三申请开通MM拼团</span></p><p class="fr">2016/5/20<span>我的时尚女友申请开通MM拼团2卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团开通MM拼团</span></p></div>
			<div class="xcRollingwordEach clearfix"><p class="fl">2016/5/20<span>白云战士申请开通MM拼团</span></p><p class="fr">2016/5/20<span>我的时尚女友申请开通MM拼团3</span></p></div>
			<div class="xcRollingwordEach clearfix"><p class="fl">2016/5/20<span>哈哈哦请开通MM拼团</span></p><p class="fr">2016/5/20<span>我的时尚女友申请开通MM拼团4卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团胡萝卜怎么切请开通MM拼团开通MM拼团</span></p></div>
			<div class="xcRollingwordEach clearfix"><p class="fl">2016/5/20<span>我的时尚女友申请开通MM拼团</span></p><p class="fr">2016/5/20<span>我的时尚女友申请开通MM拼团5</span></p></div>
			<div class="xcRollingwordEach clearfix"><p class="fl">2016/5/20<span>马卡龙申请开通MM拼团</span></p><p class="fr">2016/5/20<span>我的时尚女友申请开通MM拼团6</span></p></div>

		</div>
	</div>
	</div>

	<div class="xcOpenedStore">
		<div class="xcOpenedStore-c mgc">
			<p class="xcOpenedStoreTitle">已开通的美妆门店</p>
		</div>
	</div>

	<div class="xcopenstoreList">
		<div class="xcopenstoreList-c mgc">
			<table class="mgc" width="853" border="0" cellpadding="0" cellspacing="0">
			  <tr>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人娇兰</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			  </tr>
			  <tr>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			  </tr>
			  <tr>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			    <td><img src="/Content/images/jlBrand.jpg"><p>娇兰佳人湖北</p></td>
			  </tr>
			</table>
		</div>
	</div>

	<div class="xcstorePage">
		<div class="xcstorePage-c mgc">
			<p>
				<a href="javascript:;">1</a>
				<a href="javascript:;">2</a>
				<a class="cur" href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<a href="javascript:;">5</a>
			</p>
		</div>
	</div>



<!--footer-->
<div class="xcFooter" style="padding: 109px 0 19px 0;"><p>美美哒科技 版权所有/鄂ICP备16005905号-1</p></div>


</body>
</html>
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
$(function(){
	var t; 
	$(".roster").hover(function(){ 
		 clearInterval(t);
	},function(){ 
		 t = setInterval(function(){ 
				var ul = $(".roster"); 
				var liHeight = ul.find(".xcRollingwordEach:last").height();
				ul.animate(1000,function(){ 
					ul.find(".xcRollingwordEach:last").prependTo(ul);
					ul.find(".xcRollingwordEach:first").hide(); 
					ul.css({marginTop:0}); 
					ul.find(".xcRollingwordEach:first").fadeIn(800); 
				});         
		},2000); 
	 }).trigger("mouseleave"); 
});
</script>
