<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <title>Upload</title>
</head>
<body>
    <div> 
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="txtFile" accept="text/plain" class="file" id="txtfield"/>
        </form>
    </div>
    <div style="margin-top:10px;">
        <input type="button" value="确 认" style="width:70px;" onclick="txtSubmit();"/>
    </div>
    <script>
        function txtSubmit() {
            if (check()) {
                $("form").ajaxSubmit({
                    url: "/Home/UploadTxt",
                    type: "post",
                    success: function (res) {
                        if (res.status == "Success") {
                            alert("上传成功");
                            location.reload();
                        }
                    }
                });
            }        }
        function check() {
            var file = document.getElementById("txtfield").value;
            if (file == "") {
                alert("请选择文件");
                return false;
            }
            var strTemp = file.split(".");
            var strCheck = strTemp[strTemp.length - 1];
            if (strCheck.toLowerCase() == 'txt') {
                return true;
            } else {
                alert('请上传txt文件！');
                return false;
            }
        }
    </script>
</body>
</html>
