<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="/Content/main.css">
    <link rel="stylesheet" type="text/css" href="/Content/ico.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/product/comment.js"></script>
</head>
<body>
    <!--header-->

    @Html.Partial("Header/_headerProduct")

    <!--mian-->
    <div class="Lorelei-table-box">
        <div class="Lorelei-table-box-c mgc">

            <div class="Lorelei-topSearch clearfix">
                <div class="Lorelei-addBtn-l"><a href="javascript:location=document.referrer;">返回</a></div>
                <div class="Lorelei-search-r"><input id="s_text" name="user_search" type="search" placeholder="评价" /><a class="wine" href="javascript:;" onclick="onSearch()"><i class="MMda i-search"></i></a></div>
            </div>

            <div id="list_table" class="Lorelei-commonTable">
                @Html.Action("CommentListPartial", new { pageNo = 1, q = "",pid= ViewBag.pid })
            </div>
            <input type="hidden" id="hid_pid" value="@ViewBag.pid" />
        </div>
    </div>
    <!--弹出层-->
    <div class="alertForm ft14" style="display:none">
        <div class="inputText-Tap mgb20 mgt19" style="text-align: right;">
            <a href="javascript:;"><i class="MMda i-close pdr5" style="font-size: 26px;padding-right: 19px;"></i></a>
        </div>
        <div class="inputText-Tap mgb20 mgt19"><span class="w100">评价</span><input id="tan_gname" class="coInp" type="text"  value="" readonly/></div>
        <div class="inputText-Tap mgb20 mgt19"><span class="w100 fl">回复</span><textarea id="tan_url" class="coInp" style="resize:none" name="" cols="" rows="9"></textarea></div>
        <input type="hidden" id="commentid" value="" />
        <input style="margin-left:162px;" class="inputBtn-Tap mgb19 i-close" type="button" value="确定" onclick="postReply()"/>
    </div>
    <div class="maskLayer"></div>
    <!--footer-->
    <div class="footer">
        <div class="footer-c mgc">
            <p>美美哒科技 版权所有 / 鄂 ICP 备 16005905号-1</p>
        </div>
    </div>
</body>
</html>